/.DS_Store
/__pycache__
/.vscode
.idea
pckFiles
KFe3J/.DS_Store
KFe3J/__pycache__
aCVO/.DS_Store
aCVO/__pycache__
ZnCVO/.DS_Store
ZnCVO/__pycache__
aCVO/output1.file
aCVO/output2.file
aCVO/output.file
